{{> header}}
<form action="/editCat/{{cat._id}}" method="POST" class="cat-form">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{cat.name}}">
    <label for="description">Description</label>
    <textarea
        id="description" name="description">{{cat.description}}</textarea>
    <label for="image">Image</label>
    <input type="url" id="image" name="imageUrl" value="{{cat.imageUrl}}">
    <label for="group">Breed</label>
    <select id="group" name="breed">
        {{#each breeds}}
        <option value="{{this.breed}}">{{this.breed}}</option>
        {{/each}}
    </select>
    <button>Edit Cat</button>
</form>